:root {
    --button-color: rgb(31,56,98);
    --header-main-color: rgb(84,141,216);
    --header-color: rgb(219,238,246);
    --confirm-color: rgb(13,93,187);
    --cancel-color: rgb(215,44,70);
    --textbox-color:rgb(242,242,242);
  }
  :host {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #333;
    box-sizing: border-box;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
  }
  .arstvif{
    border: solid 1 px black;
  }


  .picin, .rsin{
    width: 25%;
  }

  .picin select, .rsin select{
    width: 50%;
    font-size: 13px;
    border: none;
    border-bottom: solid 1px black;
    height: 20px;
  }

  .picdvs, .picvpt, .picvfst, .picvlgt, .picvbvat, .picvoc{
    display: flex;
    flex-direction: column;
    background-color: var(--textbox-color);
  }
  .rsdvs, .rsvpt, .rsvfst, .rsvlgt, .rsvbvat, .rsvoc{
    display: flex;
    flex-direction: column;
  }
  .picdvs input, .picvpt input, .picvfst input, .picvlgt input, .picvbvat input, .picvoc input{
    border: none;
    background-color: var(--textbox-color);
    text-align: right;
    height: 20px;
  }
  .rsdvs input, .rsvpt input, .rsvfst input, .rsvlgt input, .rsvbvat input, .rsvoc input{
    border: none;
    text-align: right;
    height: 20px;
  }
  .picf {
    width: 50%;
    padding: 0.5% 1% 0 8%;
  }
  .rsfc{
    width: 50%;
    padding: 0.5% 8% 0 1%;
  }

  .cf{
    display: flex;
    height: 100%;
  }
  .cc{
    width: auto;
  }
  .cc-confirm, .cc fas{
    border: solid 1px rgba(255, 165, 0, 0.7);
    color:rgba(255, 165, 0, 0.7);
  }
  .cc-confirm{
    text-decoration: none;
    list-style: none;
    background-color: rgba(255, 165, 0, 0.7);
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .cc-confirm:hover{
    transition-duration: 400ms;
    background-color: orange;
    color: white;
  }
  .cc-cancel{
    text-decoration: none;
    list-style: none;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    cursor: pointer;
  }

  .cc-cancel:hover{
    transition-duration: 400ms;
    background-color: red;
    color:white;
  }

  .mat-dialog-title {
    padding: 10px;
    margin: 0;
}

.mat-dialog-title.title-dialog{
  background-color: royalblue;
  font-size: 10px; color: white;
  border-radius: 10px;
  height: 5px;
  margin: 10px 0;
  display: flex;
  align-items: center;

}
::ng-deep .mat-dialog-container {
  padding:10px;
  width: 100%;
  overflow: hidden;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding: 5px 0;
}

::ng-deep .mat-dialog-actions{
  display: flex;
  margin: 0;
  padding: 0;
  top:20%;
}
::ng-deep .mat-dialog-content{
  max-height: 100%;
}


  @media screen and(max-width: 720px){
    .cf{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .picf, .rsfc{
        width: 80%;
        padding: 0% 10%;
    }
    .picf{
        padding-top: 2%;
    }
    .rst{
        margin-top: 5%;
    }
    .arstvih{
      text-align: center;
    }
    .mat-dialog-title.title-dialog{
      display: none;
    }

    ::ng-deep .mat-dialog-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    ::ng-deep .ng-star-inserted{
      overflow: auto;
      overflow-x: hidden;
    }

    ::ng-deep .cdk-overlay-pane{
      overflow: hidden;
    }
  }
